@model TheFoodStapleEx.Models.ViewModels.ShoppingCartViewModel

    <div style="text-align:center">
        <h2> Here are the Food in your shopping cart.</h2>
        <h4> Your shopping cart</h4>
    </div>
<div class="row checkoutForm">
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Items</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th>Remove items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.Item.ItemName</td>
                    <td class="text-right">@line.Item.ItemPrice.ToString("c")</td>
                    <td class="text-right">
                        @((line.Amount * line.Item.ItemPrice).ToString("c"))
                    </td>
                    <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="ShoppingCarts" asp-action="RemoveFromShoppingCart" asp-route-drinkId="@line.Item.ItemId"></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group">
            <a class="btn btn-success" asp-controller="Orders" asp-action="Checkout">Check out</a>
            <a class="btn-group">
                <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" style="width:auto">
                    Add more items<span ></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a asp-controller="Items" asp-action="List" asp-route-category="Organic">Organic</a></li>
                    <li><a asp-controller="Items" asp-action="List" asp-route-category="InOrganic">InOrganic</a></li>
                </ul>
            </a>
        </div>
    </div>
</div>

